{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="login" class="d-flex justify-content-center align-items-center align-content-around "style=" background-color: #F4F7FA;">     
  <div class="container">
    <div class="login-content">
    <div class="row d-flex justify-content-center align-items-center align-content-around px-2 ">

      <div class="col-xl-5 col-md-8 col-12   bg-white p-3 rounded">

    <h3 class="inner-title text-center">{% trans "Password Reset" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="font-monospace">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="d-grid gap-2 col-9 mx-auto mb-2">
        <input  class="btn btn-success btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
        </div>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
        </div>
      </div>
    
  
    </section>
{% endblock %}
