{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="login" class="d-flex justify-content-center align-items-center align-content-around "style="background-color: #F4F7FA;height:100vh;
">     
  <div class="container">
    <div class="login-content">
    <div class="row d-flex justify-content-center align-items-center align-content-around px-2 ">

      <div class="col-xl-6 col-md-8 col-12   bg-white p-3 rounded">
    <h3 class="inner-title text-center">{% trans "Change Password" %}</h3>
    <p class="font-monospace">{% trans 'Your password is now changed.' %}</p>
    </div>
</div>
        </div>
      </div>
    
  
    </section>
{% endblock %}
