{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<section class="login" class="d-flex justify-content-center align-items-center align-content-around "style="background-color: #F4F7FA;height:100vh;
">     
  <div class="container">
    <div class="login-content">
    <div class="row d-flex justify-content-center align-items-center align-content-around px-2 ">

      <div class="col-xl-6 col-md-8 col-12   bg-white p-3 rounded">
<h3 class="inner-title text-center">{% trans "Verify Your E-mail Address" %}</h3>

{% url 'account_email' as email_url %}

 <p class="font-monospace">{% blocktrans %}This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address. {% endblocktrans %}</p>

 <p class="font-monospace">{% blocktrans %}We have sent an e-mail to you for
verification. Please click on the link inside that e-mail. If you do not see the verification e-mail in your main inbox, check your spam folder. Otherwise
contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

 <p class="font-monospace">{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>

</div>
</div>
        </div>
      </div>
    
  
    </section>
{% endblock %}
