{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% load humanize %}
{% load i18n %}
{% load static  %}
{% block content %}

 <div class="main-content">

                <div class="page-content">

                    <!-- START HOME -->
                    <section class="bg-home" id="home">
                        <div class="bg-overlay"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center text-white mb-5">
                                        <h1 class="display-5 fw-semibold mb-3">Search Between More Then <span class="text-warning fw-bold">10,000+</span>
                                            Open Jobs.</h1>
                                        <p class="fs-17">Find jobs, create trackable resumes and enrich your applications.</p>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                            <form method="GET" action="{% url 'search' %}">
                                <div class="registration-form">
                                    <div class="row g-0">
                                      
                                        <div class="col-lg-3">
                                            <div class="filter-search-form filter-border mt-3 mt-lg-0">
                                                <i class="uil uil-briefcase-alt"></i>
                                                <input type="search" id="job-title" class="form-control filter-input-box" name="title" placeholder="Job">
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-3">
                                            <div class="filter-search-form filter-border mt-3 mt-lg-0">
                                                <i class="mdi mdi-map-marker"></i>
                                                <input type="search" id="job-title" class="form-control filter-input-box" name="location" placeholder="location" style='border-radius:0px;'>
                                            </div>
                                        </div><!--end col-->
                                        
                                        <div class="col-lg-3">
                                            <div class="filter-search-form filter-border mt-3 mt-lg-0">
                                                <i class="uil uil-clipboard-notes"></i>
                                                <select class="form-select" data-trigger name="tag" id="choices-single-location" aria-label="Default select example">
                                                    {% comment %} <option value="00">-----</option> {% endcomment %}
                                                    <option value="0">All Tags</option>
                                                     {% for tag in tags %}
        <option value="{{ tag.pk }}">{{ tag.name }}</option>
      {% endfor %}
                                                </select>
                                            </div>
                                        </div><!--end col-->
                                        
                                        <div class="col-lg-3">
                                            <div class="mt-3 mt-lg-0 h-100">
                                                <button class="btn btn-primary submit-btn w-100 h-100" type="submit"><i class="uil uil-search me-1"></i> Find Job</button>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end container-->
                            </form>
                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="treding-keywords list-inline mb-0 text-white-50 mt-4 mt-lg-3 text-center">
                                        <li class="list-inline-item text-white"><i class="mdi mdi-tag-multiple-outline text-warning fs-18"></i> Trending Keywords:</li>
                                       {% for popular_tag in popular_tags %}
                                        <li class="list-inline-item"><a href="{% url 'tag-jobs' popular_tag.slug %}">{{ popular_tag.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- End Home -->

                   
                   
                    <!-- START JOB-LIST -->
                    <section class="section bg-light">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="section-title text-center mb-4 pb-2">
                                        <h4 class="title">New & Random Jobs</h4>
                                        <p class="text-muted mb-1">Post a job to tell us about your project. We'll quickly match you
                                            with the right freelancers.</p>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <ul class="job-list-menu nav nav-pills nav-justified flex-column flex-sm-row mb-4" id="pills-tab"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="recent-jobs-tab" data-bs-toggle="pill"
                                                data-bs-target="#recent-jobs" type="button" role="tab" aria-controls="recent-jobs"
                                                aria-selected="true">Recent Jobs</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="featured-jobs-tab" data-bs-toggle="pill"
                                                data-bs-target="#featured-jobs" type="button" role="tab" aria-controls="featured-jobs"
                                                aria-selected="false">Featured Jobs</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="freelancer-tab" data-bs-toggle="pill"
                                                data-bs-target="#freelancer" type="button" role="tab" aria-controls="freelancer"
                                                aria-selected="false">Popular Jobs</button>
                                        </li>
                                       
                                    </ul>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="recent-jobs" role="tabpanel"
                                            aria-labelledby="recent-jobs-tab">
                                            
                                          <div class="row">
                                            {% for job in recent_jobs %}
                                             <div class="col-lg-6">
                                    
                                    <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                    <div class="row">
                                                        {% comment %} <div class="col-lg-1">
                                                            <a href="company-details.html"><img src="{{job.user.user_profile.profile.url}}" alt="..." class="img-fluid rounded-3"></a>
                                                        </div><!--end col--> {% endcomment %}
                                                        <div class="col-lg-12">
                                                            <div class="mt-3 mt-lg-0">
                                                                <h5 class="fs-17 mb-1"><a href="{{job.get_absolute_url}}" class="text-dark text-decoration-none">{{job.title | truncatewords:10}}</a> </h5>
                                                                <ul class="list-inline mb-0">
                                                                    
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.county}} ,{{job.location}},{{job.address}}</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-calender"></i> {{job.created |naturaltime}}</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="mt-2"> 
                                                                    
                                                                    <span class="badge bg-soft-success mt-1">Deadline: {{job.deadline}}</span>
                                                                    <span class="badge bg-soft-warning mt-1">open to: {{job.seeker_type}}</span>
                                                                    <span class="badge bg-soft-info mt-1">{{job.job_type}}</span>
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                   
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Tags :</li>{% for tag in job.tags.all %}
                                                                    <li class="list-inline-item"><a href="{% url 'tag-jobs' tag.slug %}" class="primary-link text-muted text-decoration-none">{{ tag.name }}</a>,</li>
                                                                   
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            
                                                            {% if job.user != request.user %}
                                                                <div class="text-md-end">
                                                                <a href="{% url 'applications:apply-job' job.slug %}"  class="primary-link text-decoration-none">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                            </div>
                                                            {% endif %}
                                                                
                                                            
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                    
                                </div><!--end col-->
                                            {% empty %}
<div class="col-lg-12 text-center">
                                    
                                    <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                   
                                                   <p> No Jobs Posted!</p>
                                                </div>
                                                
                                            </div>
                                    
                                </div><!--end col-->
                                            {% endfor %}
                                            <!--end job-box-->

                                          </div>

                                           

                                        </div>
                                        <!--end recent-jobs-tab-->

                                        <div class="tab-pane fade" id="featured-jobs" role="tabpanel"
                                            aria-labelledby="featured-jobs-tab">
                                          
                                            <div class="row">
                                            {% for job in featured_jobs %}
                                             <div class="col-lg-6">
                                    
                                    <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                    <div class="row">
                                                        {% comment %} <div class="col-lg-1">
                                                            <a href="company-details.html"><img src="{{job.user.user_profile.profile.url}}" alt="..." class="img-fluid rounded-3"></a>
                                                        </div><!--end col--> {% endcomment %}
                                                        <div class="col-lg-12">
                                                            <div class="mt-3 mt-lg-0">
                                                                <h5 class="fs-17 mb-1"><a href="{{job.get_absolute_url}}" class="text-dark text-decoration-none">{{job.title | truncatewords:10}}</a> </h5>
                                                                <ul class="list-inline mb-0">
                                                                    
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.county}} ,{{job.location}},{{job.address}}</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-calender"></i> {{job.created |naturaltime}}</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="mt-2"> 
                                                                    
                                                                    <span class="badge bg-soft-success mt-1">Deadline: {{job.deadline}}</span>
                                                                    <span class="badge bg-soft-warning mt-1">open to: {{job.seeker_type}}</span>
                                                                    <span class="badge bg-soft-info mt-1">{{job.job_type}}</span>
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                   
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Tags :</li>{% for tag in job.tags.all %}
                                                                    <li class="list-inline-item"><a href="{% url 'tag-jobs' tag.slug %}" class="primary-link text-muted text-decoration-none">{{ tag.name }}</a>,</li>
                                                                   
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            
                                                            {% if job.user != request.user %}
                                                                <div class="text-md-end">
                                                                <a href="{% url 'applications:apply-job' job.slug %}"  class="primary-link text-decoration-none">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                            </div>
                                                            {% endif %}
                                                                
                                                            
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                    
                                </div><!--end col-->
                                            {% empty %}
                                  <div class="col-lg-12 text-center">
                                    
                                    <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                   
                                                   <p> No Featured Jobs !</p>
                                                </div>
                                                
                                            </div>
                                    
                                </div><!--end col-->
                                            {% endfor %}
                                            <!--end job-box-->

                                          </div>
                                        </div>
                                        <!--end featured-jobs-tab-->

                                        <div class="tab-pane fade" id="freelancer" role="tabpanel" aria-labelledby="freelancer-tab">
                                             <div class="row">
                                            {% for job in popular_jobs %}
                                             <div class="col-lg-6">
                                    
                                    <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                    <div class="row">
                                                        {% comment %} <div class="col-lg-1">
                                                            <a href="company-details.html"><img src="{{job.user.user_profile.profile.url}}" alt="..." class="img-fluid rounded-3"></a>
                                                        </div><!--end col--> {% endcomment %}
                                                        <div class="col-lg-12">
                                                            <div class="mt-3 mt-lg-0">
                                                                <h5 class="fs-17 mb-1"><a href="{{job.get_absolute_url}}" class="text-dark text-decoration-none">{{job.title | truncatewords:10}}</a> </h5>
                                                                <ul class="list-inline mb-0">
                                                                    
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.county}} ,{{job.location}},{{job.address}}</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-calender"></i> {{job.created |naturaltime}}</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="mt-2"> 
                                                                    
                                                                    <span class="badge bg-soft-success mt-1">Deadline: {{job.deadline}}</span>
                                                                    <span class="badge bg-soft-warning mt-1">open to: {{job.seeker_type}}</span>
                                                                    <span class="badge bg-soft-info mt-1">{{job.job_type}}</span>
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                   
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Tags :</li>{% for tag in job.tags.all %}
                                                                    <li class="list-inline-item"><a href="{% url 'tag-jobs' tag.slug %}" class="primary-link text-muted text-decoration-none">{{ tag.name }}</a>,</li>
                                                                   
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            
                                                            {% if job.user != request.user %}
                                                                <div class="text-md-end">
                                                                <a href="{% url 'applications:apply-job' job.slug %}"  class="primary-link text-decoration-none">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                            </div>
                                                            {% endif %}
                                                                
                                                            
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                    
                                </div><!--end col-->
                                            {% empty %}
                                  <div class="col-lg-12 text-center">
                                    
                                    <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                   
                                                   <p> No Popular Jobs Found!</p>
                                                </div>
                                                
                                            </div>
                                    
                                </div><!--end col-->
                                            {% endfor %}
                                            <!--end job-box-->

                                          </div>
                                        </div>
                                        <!--end freelancer-tab-->

                                        
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- END JOB-LIST -->

                    <!-- START PROCESS -->
                    <section class="section">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="section-title me-5">
                                        <h3 class="title">How It Work</h3>
                                        <p class="text-muted">Post a job to tell us about your project. We'll quickly match you with the
                                            right freelancers.</p>
                                        <div class="process-menu nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                                <div class="d-flex">
                                                    <div class="number flex-shrink-0">
                                                        1
                                                    </div>
                                                    <div class="flex-grow-1 text-start ms-3">
                                                        <h5 class="fs-18">Register an account</h5>
                                                        <p class="text-muted mb-0">Due to its widespread use as filler text for layouts, non-readability
                                                            is of great importance.</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                                <div class="d-flex">
                                                    <div class="number flex-shrink-0">
                                                        2
                                                    </div>
                                                    <div class="flex-grow-1 text-start ms-3">
                                                        <h5 class="fs-18">Find your job</h5>
                                                        <p class="text-muted mb-0">There are many variations of passages of avaibookmark-label, but the majority
                                                            alteration in some form.</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                                <div class=" d-flex">
                                                    <div class="number flex-shrink-0">
                                                        3
                                                    </div>
                                                    <div class="flex-grow-1 text-start ms-3">
                                                        <h5 class="fs-18">Apply for job</h5>
                                                        <p class="text-muted mb-0">It is a long established fact that a reader will be distracted by the
                                                            readable content of a page.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-6">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                            <img src="{% static 'images/pexels-trushotz-3635300.jpg' %}" alt="" class="img-fluid">
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                            <img src="{% static 'images/wildberries-1317712.jpg' %}" alt="" class="img-fluid">
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                            <img src="{% static 'images/pexels-trushotz-3635300.jpg' %}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div> <!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END PROCESS -->

                    <!--START CTA-->
                    <section class="section bg-light">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <div class="text-center">
                                        <h2 class="text-primary mb-4">Browse Our <span class="text-warning fw-bold">5,000+</span> Latest
                                            Jobs</h2>
                                        <p class="text-muted">Post a job to tell us about your project. We'll quickly match you with
                                            the right freelancers.</p>
                                        <div class="mt-4 pt-2">
                                            <a href="{% url 'jobs' %}" class="btn btn-primary btn-hover">Started Now <i class="uil uil-rocket align-middle ms-1"></i></a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!--END CTA-->

                    

                    <!-- START BLOG -->
                    <section class="section bg-light">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="section-title text-center mb-5">
                                        <h3 class="title mb-3">Quick Career Tips</h3>
                                        <p class="text-muted">Post a job to tell us about your project. We'll quickly match you with the
                                            right freelancers.</p>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                            <div class="row">
                              
                               {% for blog in blogs %}
                                <div class="col-lg-4 col-md-6">
                                    


                                     <div class="card blog-grid-box p-2">
                                                     <div class="image">
                                                    <img src="{{blog.photo.url}}" alt="..." class="img-fluid">
                                                     </div>
                                                    <div class="card-body">
                                                        <ul class="list-inline d-flex justify-content-between mb-3">
                                                            <li class="list-inline-item">
                                                                <p class="text-muted mb-0"><a href="blog-author.html" class="text-muted fw-medium"><i class="uil uil-user"></i> {{blog.user.username}}</a>  </p>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <p class="text-muted mb-0"><i class="uil uil-calender"></i> {{blog.created}}</p>
                                                            </li>
                                                        </ul>
                                                        <h3><a href="{{blog.get_absolute_url}}" class="primary-link text-dark "><h6 class="fs-17 title-blog">{{blog.title}}</h6></a>
                                                        </h3>
                                                        <p class="text-muted">{{blog.content | truncatewords:30}}</p>
                                                         <a href="{{blog.get_absolute_url}}" class="form-text text-primary">Read more <i class="mdi mdi-chevron-right align-middle"></i></a>
                                                    </div>
                                                </div><!--end blog-grid-box-->
                                </div><!--end col-->
                               {% empty %}
                               <p class="text-center"> No Blogs Found !</p>
                               {% endfor %}
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- END BLOG -->

                   
                   
                </div>
                <!-- End Page-content -->
                
                
            </div>
              <!-- START SUBSCRIBE -->
                <section class="bg-subscribe">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-6">
                                <div class="text-center text-lg-start">
                                    <h4 class="text-white">Get New Jobs Notification!</h4>
                                    <p class="text-white-50 mb-0">Subscribe & get all related jobs notification.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mt-4 mt-lg-0">
                                    <form class="subscribe-form" method="post" action="{% url 'subscribe' %}">
                                        {% csrf_token %}
                                        <div class="input-group justify-content-center justify-content-lg-end">
                                            <input type="email" name="email" class="form-control" id="subscribe" placeholder="Enter your email">
                                            <button class="btn btn-primary" type="submit" id="subscribebtn">Subscribe</button>
                                        </div>
                                    </form><!--end form-->
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                    
                </section>
                <!-- END SUBSCRIBE -->
                        
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    
    {% if message.tags == 'error' %}
       <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
     <script>
        var m = "{{message}}"
        swal("Ooops!", m, "error");
    </script> 
    {% elif  message.tags == 'success' %}
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
     <script>
        var m = "{{message}}"
        swal("Congratulation!", m, "success");
    </script> 
    {% endif %}
      
   
    {% endfor %}
</ul>
{% endif %}

            <!-- end main content-->

{% comment %} <form method="GET" action="{% url 'search' %}">
  <div class="form-group">
    <label for="id_tag">{% trans 'Tag' %}</label>
    <select id="id_tag" name="tag" class="form-control">
      <option value="0">{% trans 'All Tags' %}</option>
      {% for tag in tags %}
        <option value="{{ tag.pk }}">{{ tag.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="id_title">{% trans 'Title' %}</label>
    <input type="text" id="id_title" name="title" class="form-control" maxlength="50">
  </div>
  <div class="form-group">
    <label for="id_location">{% trans 'Location' %}</label>
    <input type="text" id="id_location" name="location" class="form-control" maxlength="50">
  </div>
  <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
</form> {% endcomment %}

{% endblock content %}
    