{% extends 'base.html' %}
{% block title %} Job {% endblock title %}

{% block content %}
<div class="container"><div class="row">
    <div class="col-6">
        {% for job in results %}
 <p>user:  <a href="{% url 'user-jobs' job.user.username %}">{{job.user}}</a> </p>
<p>{{job.reference_id}}</p>
<p>{{job.county}}</p>
<p>{{job.location}}</p>
<p>{{job.address}}</p>
<p>title:   <a href="{{job.get_absolute_url}}">{{job.headline|safe}}</a> </p>
<p>category  <a href="{% url 'category-jobs' job.category.slug %}">{{job.category}}</a> </p>
<p>tags:  {% for tag in job.tags.all %}
            <li><a 
                href="{% url 'tag-jobs' tag.slug %}">{{ tag.name }}</a></li>
          {% endfor %}</p>
<p>description:{{job.content}}</p>
<p>deadline:{{job.deadline}}</p> 


<hr>
<br>
{% empty %} 
<p>No search job</p>
{% endfor %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current-page">{{ page_obj.number }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
    </div> 
    
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% comment %} <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> {% endcomment %}
    <script>
        var m = "{{message}}"
        swal("Good job!", m, "success");
    </script>
    {% endfor %}
</ul>
{% endif %}


{% endblock content %}
    