{% extends 'base.html' %}
{% block title %} Delete Application {% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <div class="main-content" style="min-height:100vh;">

                <div class="page-content">

                                   
 <div class="breadcrumbs overlay  mt-1" >
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">Delete Application</h1>

</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav float-sm-start float-lg-end float-md-end">
<li><a class="text-decoration-none" href="{% url 'home' %}">Home</a></li>
<li><a class="text-decoration-none" href="{% url 'jobs'  %}">Jobs</a></li>
<li><a class="text-decoration-none" href="{% url 'applications:my-applications' %}">My Application</a></li>
<li>Delete Application</li>
</ul>
</div>
</div>
</div>
</div>
                    <!-- START JOB-LIST -->
                    <section class="section" style="padding-top:0px;padding-bottom:0px;"> 
                          <div class="add-blog">
                        <div class="container">
                          
                            <div class="row">
                            <div class="row justify-content-center pt-3 mt-3">
                                <div class="col-lg-7">
                                    <div class="section-title text-center mb-4 pb-2">
                                        <h4 class="title">Delete Application Form</h4>
                                        <p class="text-muted mb-1">Post a job to tell us about your project. We'll quickly match you
                                            with the right freelancers.</p>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                                <div class="col-lg-10 mx-auto">
                                    <div class="card">
  
  <div class="card-body">
    <h6 class="card-title">Charge : <span>ksh {{application.charge}}</span></h6>
    <p class="card-text">Job : <span>{{application.job.title}} </span></p>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form | crispy }}
    
    <div class="d-grid gap-2 col-6 mx-auto pt-2">
    <button type="submit" class="btn btn-danger">Delete Application </button>
    </div>
</form> 
  </div>
</div>
                                 
                                   
                                    
                                </div><!--end col-->

                            </div><!--end row-->

                    
                        </div><!--end container-->
                    </section>
                    <!-- END JOB-form -->

                    
                </div>
                <!-- End Page-content -->

                

               
</div>
                
            </div>
            <!-- end main content-->

    </div>

{% endblock content %}
    