{% extends 'base.html' %}
{% block title %} Job Applications {% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- Begin page -->
        <div>

          

          
            <div class="main-content">

                <div class="page-content">

                 <div class="breadcrumbs overlay  mt-1" >
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">Job Applications</h1>

</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav float-sm-start float-lg-end float-md-end">
<li><a href="{% url 'home' %}">Home</a></li>
<li> <a href="{% url 'my-jobs' %}">My Jobs</a> </li>
<li>Job Applications</li>
</ul>
</div>
</div>
</div>
</div>
                    <!-- START CANDIDATE-GRID -->
                    <section class="section">
                        <div class="container">
                          
                            <div class="candidate-list">
                                <div class="row">
                                   {% for application in applications %}
                                    <div class="col-lg-4 col-md-6">
                                        <div class="candidate-grid-box card mt-4">
                                            <div class="card-body p-4" 
                                        {% if application.status == 'AcceptJob' or application.status == 'Accepted'  %}
                                        style= 'background-color:beige;'
                                        
                                    {% endif %}>
                                                {% comment %} <div class="featured-label">
                                                    <span class="featured">Urgent</span>
                                                </div> {% endcomment %}
                                                <div class="d-flex mb-4">
                                                    <div class="flex-shrink-0 position-relative">
                                                        <img src="{{application.user.user_profile.profile.url}}" alt="" class="avatar-md rounded">
                                                        
                                                        {% if application.status == 'Accepted' %}
                                                            <span class="profile-active position-absolute badge rounded-circle bg-danger"><span class="visually-hidden">active</span></span>
                                                        {% endif %}
                                                            
                                                        
                                                    </div>
                                                    <div class="ms-3">
                                                       <a href="{% url 'user-profile' application.job.user.user_profile.slug %}" class="primary-link text-decoration-none"><h5 class="fs-17">{{application.user.user_profile.firstname}} {{application.user.user_profile.lastname}}</h5></a>
                                                        <span class="badge bg-soft-info fs-13"> ksh {{application.charge}}</span>
                                                    </div>
                                                </div>                                               
                                                <ul class="list-inline d-flex justify-content-between align-items-center">
                                                    <li class="list-inline-item text-warning fs-17">
                                                        
                                            {% if  application.job.user.user_profile.averageview > 1 %} <i  class="mdi mdi-star"></i> {% else %} <i class="mdi mdi-star-outline text-dark"></i>   {% endif %}
                                            {% if  application.job.user.user_profile.averageview > 2 %} <i  class="mdi mdi-star"></i> {% else %} <i class="mdi mdi-star-outline text-dark"></i>   {% endif %}
                                            {% if  application.job.user.user_profile.averageview > 3 %} <i  class="mdi mdi-star"></i> {% else %} <i class="mdi mdi-star-outline text-dark"></i>   {% endif %}
                                            {% if  application.job.user.user_profile.averageview > 4 %} <i  class="mdi mdi-star"></i> {% else %} <i class="mdi mdi-star-outline text-dark"></i>   {% endif %}
                                            {% if  application.job.user.user_profile.averageview > 5 %} <i  class="mdi mdi-star"></i> {% else %} <i class="mdi mdi-star-outline text-dark"></i>   {% endif %}
                                                 <span  class="text-dark">( {{application.job.user.user_profile.averageview | stringformat:".2f"}})</span>       
                                                            
                                                       
                                                        
                                                    </li>
                                                    
                                                </ul>
                                                <p>Application Status <span class="badge rounded-pill text-bg-secondary"> 
                                                {% if application.status == 'AcceptJob' %}
                                                    Hired
                                                {% else %}
                                                     {{application.status}}</span>
</p>{% endif %}
                                                <div class="border rounded mb-4">
                                                    <div class="row g-0">
                                                        <div class="col-lg-6">
                                                            <div class="border-end px-3 py-2">
                                                                <p class="text-muted mb-0">Exp. : {{application.user.user_profile.experience}} Years</p>
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-lg-6">
                                                            <div class="px-3 py-2">
                                                                <p class="text-muted mb-0">{{application.user.user_profile.user_type}}</p>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                </div>
                                                <p class="text-muted">{{application.description}}</p>
                                                <div class="mt-3">
                                                    {% if application.status == 'Pending' %}
    <form method="POST" action="{% url 'approve-application' application.uuid %}">
        {% csrf_token %}
        <input type="hidden" name="status" value="Accepted">
        <button type="submit" class="btn btn-primary btn-hover w-100 mt-2"><i class="mdi mdi-account-check"></i> Hire Now</button>
    </form>

{% elif application.status == 'Accepted' %}
    <form method="POST" action="{% url 'cancel-application' application.uuid %}">
        {% csrf_token %}
        <input type="hidden" name="status" value="Pending">
        <button type="submit" class="btn btn-danger btn-hover w-100 mt-2"><i class="mdi mdi-account-check"></i> Cancel Hiring</button>
    </form>
    {% elif application.status == 'AcceptJob' %}
{% for rating in application.user.profile.user_rating %}
{{rating.id}}
{% endfor %}

    <a href="{% url 'ratings' application.user.user_profile.slug %}" class="btn btn-warning">Rate user</a>
     <form method="POST" action="{% url 'make-payment' %}">
        {% csrf_token %}
        <input type="hidden" name="status" value="Accepted">
        <button type="submit" class="btn btn-success btn-hover w-100 mt-2"><i class="mdi mdi-dollar"></i>Make Payments</button>
    </form>
    <a class="btn btn-sm btn-info" href="{% url 'make-payment'%}">Mpesa</a>
{% endif %}
                                                    
                                                    {% comment %} <a href="candidate-details.html" class="btn btn-info btn-hover w-100 mt-2"><i class="mdi mdi-eye"></i> View Profile</a> {% endcomment %}
                                                </div>
                                            </div>
                                        </div> <!--end card-->
                                    </div><!--end col-->
                                    {% empty %}
<div class="col-12">
                                        <div class="candidate-grid-box card mt-4">
                                            <div class="card-body p-4">
                                               
                                                
                                                
                                                <p class="text-muted">No Applications For This Job! </p>
                                               
                                            </div>
                                        </div> <!--end card-->
                                    </div><
                                    {% endfor %}
                                   
                                </div><!--end row-->
                            </div><!--end candidate-list-->

                            {% comment %} <div class="row mt-5 pt-2">
                                <div class="col-lg-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination job-pagination mb-0 justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">
                                                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div><!--end col-->
                            </div><!-- end row --> {% endcomment %}

                        </div><!--end container-->
                    </section>
                    <!-- END CANDIDATE-GRID -->

                   

                </div>
                <!-- End Page-content -->

               
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->
{% comment %} <div class="container">
    <div class="row">
        <div class="col-8">
{% for application in applications %}
{{application.job.user.user_profile.firstname}}
<hr>
<p>job id  : {{application.job.id}} </p>
<p>job status  : {{application.job.status}} </p>

<p>status : {{application.status}}</p>
<form action="{% url 'make-payment' %}" method="get">
    <!-- Add any necessary form fields -->
    <button type="submit">Pay with M-Pesa</button>
</form>

{% if application.status == 'AcceptJob' %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="status" value="Accepted">
        <button type="submit" class="btn btn-success">Make Payments</button>
    </form>
{% endif %}
    

{% if application.status == 'Pending' %}
    <form method="POST" action="{% url 'approve-application' application.uuid %}">
        {% csrf_token %}
        <input type="hidden" name="status" value="Accepted">
        <button type="submit" class="btn btn-success">Accept</button>
    </form>
{% endif %}
{% if application.status == 'Accepted' %}
    <form method="POST" action="{% url 'cancel-application' application.uuid %}">
        {% csrf_token %}
        <input type="hidden" name="status" value="Pending">
        <button type="submit" class="btn btn-success">Cancel ApplicatioNNNNn</button>
    </form>
{% endif %}

{% endfor %}
<br><br><br><br><br>
        </div>
    </div>
</div> {% endcomment %}



{% endblock content %}
    