{% extends 'base.html' %}
{% block title %} Job Details {% endblock title %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}

     <!-- Begin page -->
        <div>

          

          
            <div class="main-content">

                <div class="page-content">

                    {% comment %} <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">Candidate Grid</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Candidate Grid </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="#FFFFFF" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->
 {% endcomment %}

                    <!-- START CANDIDATE-GRID -->
                    <section class="section">
                        <div class="container-fluid mx-2">
                          
                            <table id="my-applications" class="table  table-sm table-striped  dt-responsive nowrap" style="width:100%">
        <caption>My Applications</caption>
                                <thead class="table-dark">
            <tr>
                <th>Reference ID</th>               
                {% comment %} <th>Job Status</th> {% endcomment %}
                <th>Charge</th>
                <th>Application Status</th>
                <th>Application Date</th>
                <th>Salary</th>
                <th>Extn.</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td> <a href="{{application.job.get_absolute_url}}" class="text-decoration-none">{{application.job.reference_id}}</a> </td>
             
                {% comment %} <td>{{application.job.status}}</td> {% endcomment %}
                <td> ksh {{application.charge |intcomma}}</td>
                <td> 
                {% if application.status == "AcceptJob" %}
                    <span class="badge rounded-pill text-bg-success"> Handshake </span>
                    {% elif application.status == "Rejected" %}
                    <span class="badge rounded-pill text-bg-danger"> {{application.status}} </span>

                    {% elif application.status == "Accepted" %}
                     <span class="badge rounded-pill text-bg-warning"> Waiting </span>

                    {% else %}
 {{application.status}}
                {% endif %}
                    
                    {% comment %} {{application.status}}</td> {% endcomment %}
                <td>{{application.created}}</td>
                <td>
                <div class="d-flex flex-row justify-content-around ">
{% if application.status == 'AcceptJob' %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="status" value="AcceptJob">
        <button type="submit" class="btn btn-sm btn-success">Request Payments </button>
    </form>
{% endif %}
    
{% if application.status == 'Accepted' %}
    <form method="POST" action="{% url 'applications:accept-job' application.uuid %}">
        {% comment %} action="{% url 'accept-job' application.uuid %}" {% endcomment %}
        {% csrf_token %}
        <input type="hidden" name="status" value="AcceptJob">
        <button type="submit" class="btn btn-sm btn-secondary">Accept</button>
    </form>

    <form method="POST" action="{% url 'applications:reject-application' application.uuid %}">
        {% csrf_token %}
        <input type="hidden" name="status" value="Rejected">
        <button type="submit" class="btn btn-sm btn-warning">Reject</button>
    </form>
{% endif %}
</div>               
</td>
                <td>{{application.approved_canceled_time}}</td>
                <td >
                    <div class="d-flex justify-content-around align-items-center">
                    <a href="{% url 'applications:update-application' application.uuid %}" class="link-primary"><i class="mdi mdi-pencil"></i></a>
<a href="{% url 'applications:delete-application' application.uuid %}" class="link-danger"> <i class="uil uil-trash-alt"></i></a>
<a href="{% url 'applications:delete-application' application.uuid %}" class="link-info"> <i class="mdi mdi-eye"></i></a>
    
                    </div>
</td>
            </tr>
            {% empty %}
            {% endfor %}
            
           
         
        </tbody>
    </table>

                           

                        </div><!--end container-->
                    </section>
                    <!-- END CANDIDATE-GRID -->

                   

                </div>
                <!-- End Page-content -->

               
            </div>
            <!-- end main content-->

        </div>




{% endblock content %}
    