{% extends 'base.html' %}
{% block title %} My Applications {% endblock title %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}

     <!-- Begin page -->
        <div>

          

          
            <div class="main-content" style="min-height:100vh;">

                <div class="page-content">

                        <div class="breadcrumbs overlay  mt-1" >
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">My Applications</h1>

</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav float-sm-start float-lg-end float-md-end">
<li><a href="{% url 'home' %}">Home</a></li>
<li> <a href="{% url 'jobs' %}">Jobs</a> </li>
<li> <a href="{% url 'my-jobs' %}">My Jobs</a> </li>
<li>My Applications</li>
</ul>
</div>
</div>
</div>
</div>

                    <!-- START CANDIDATE-GRID -->
                    <section class="section">
                        <div class="container-fluid mx-2">
                          <div class="row"> <div class="col-md-11 mx-auto">
                            <table id="my-applications" class="table  table-sm table-striped  nowrap" style="width:100%">
        <caption>My Applications</caption>
                                <thead >
            <tr>
                <th>Reference ID</th>               
                {% comment %} <th>Job Status</th> {% endcomment %}
                <th>Charge</th>
                <th>Application Status</th>
                <th>Application Date</th>
                <th>Actions</th>
                <th>Canceled/Approved Time</th>
                <th> </th>
            </tr>
        </thead>
        <tbody class="table-group-divider  text-muted" style="font-size:15px;">
            {% for application in applications %}
            <tr>
                <td> <a href="{{application.job.get_absolute_url}}" class="text-decoration-none">{{application.job.reference_id}}</a> </td>
             
                {% comment %} <td>{{application.job.status}}</td> {% endcomment %}
                <td> ksh {{application.charge |intcomma}}</td>
                <td> 
                {% if application.status == "AcceptJob" %}
                    <span class="badge rounded-pill text-bg-success"> Handshake </span>
                    {% elif application.status == "Rejected" %}
                    <span class="badge rounded-pill text-bg-danger"> {{application.status}} </span>

                    {% elif application.status == "Accepted" %}
                     <span class="badge rounded-pill text-bg-warning"> Waiting </span>

                    {% else %}
 {{application.status}}
                {% endif %}
                    
                
                <td >{{application.created}}</td>
                <td >
                <div class="d-flex flex-row justify-content-around ">
{% if application.status == 'AcceptJob' %}
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="status" value="AcceptJob">
        <button type="submit" class="btn btn-sm btn-success">Request Payments </button>
    </form>
{% endif %}
    
{% if application.status == 'Accepted' %}
    <form method="POST" action="{% url 'applications:accept-job' application.uuid %}">
       
        {% csrf_token %}
        <input type="hidden" name="status" value="AcceptJob">
        <button type="submit" class="btn btn-sm btn-secondary">Accept</button>
    </form>

    <form method="POST" action="{% url 'applications:reject-application' application.uuid %}">
        {% csrf_token %}
        <input type="hidden" name="status" value="Rejected">
        <button type="submit" class="btn btn-sm btn-warning">Reject</button>
    </form>
{% endif %}
</div>               
</td>
                <td>{{application.approved_canceled_time}}</td>
                <td >
                    <div class="d-flex justify-content-around align-items-center">
                    <a href="{% url 'applications:update-application' application.uuid %}" class="link-primary"><i class="mdi mdi-pencil"></i></a>
<a href="{% url 'applications:delete-application' application.uuid %}" class="link-danger"> <i class="uil uil-trash-alt"></i></a>
<a href="{% url 'applications:application-details' application.uuid %}" class="link-info"> <i class="mdi mdi-eye"></i></a>
    
                    </div>
</td>
            </tr>
            {% empty %}
            {% endfor %}
            
           
         
        </tbody>
    </table>

             </div> </div>              

                        </div><!--end container-->
                    </section>
                    <!-- END CANDIDATE-GRID -->

                   

                </div>
                <!-- End Page-content -->

               
            </div>
            <!-- end main content-->

        </div>




{% endblock content %}
    