{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{% load static %}
    {% block content %}

     <div class="page-content">

                   <div class="breadcrumbs overlay  mt-1" >
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">Blogs</h1>

</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav float-sm-start float-lg-end float-md-end">
<li><a href="{% url 'home' %}">Home</a></li>
<li>Blogs</li>
</ul>
</div>
</div>
</div>
</div>
  <!-- START BLOG-GRID -->
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-md-7">
                                    <div class="blog-post">
                                        <div class="row">
                                           {% for blog in blogs %}
                                            <div class="col-lg-6 mb-4">
                                                <div class="card blog-grid-box p-2">
                                                     <div class="image">
                                                    <img src="{{blog.photo.url}}" alt="..." class="img-fluid">
                                                     </div>
                                                    <div class="card-body">
                                                        <ul class="list-inline d-flex justify-content-between mb-3">
                                                            <li class="list-inline-item">
                                                                <p class="text-muted mb-0"><a href="blog-author.html" class="text-muted fw-medium"><i class="uil uil-user"></i> {{blog.user.username}}</a>  </p>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <p class="text-muted mb-0"><i class="uil uil-calender"></i> {{blog.created}}</p>
                                                            </li>
                                                        </ul>
                                                        <h3><a href="{{blog.get_absolute_url}}" class="primary-link text-dark "><h6 class="fs-17 title-blog">{{blog.title}}</h6></a>
                                                        </h3>
                                                        <p class="text-muted">{{blog.content | truncatewords:30}}</p>
                                                        
                                                    </div>
                                                </div><!--end blog-grid-box-->
                                            </div><!--end col-->

                                           {% endfor %}
                                         
                                        </div><!--end row-->
                                        
                                       

                                            <div class="row">
                                            <div class="col-lg-12 mt-4 pt-2">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination job-pagination mb-0 justify-content-center">
                                                         {% if page_obj.has_previous %}
                                                        <li class="page-item ">
                                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                            </a>
                                                        </li>
                                                         {% if page_obj.number > 3 %}
    <a class="page-link" href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>.....</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}

                                                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

                                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span> 

                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                                       {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                                         {% endif %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div><!--end col-->
                                        </div><!-- end row -->

                                    </div><!--end blog-post-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-5">
                                    <div class="sidebar ms-lg-4 ps-lg-4 mt-5 mt-lg-0">
                                        <!-- Search widget-->
                                        <aside class="widget widget_search">
                                            <form class="position-relative" action="{% url 'blog-search' %}" method="get">
                                                <input class="form-control" type="search" name="q" placeholder="Search...">
                                                <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y me-2" type="submit"><span class="mdi mdi-magnify text-muted"></span></button>
                                            </form>
                                        </aside>
                                         <div class="mt-4 pt-2">
                                            <div class="sd-title">
                                                <h6 class="fs-16 mb-3">Categories</h6>
                                            </div>
                                            <div class="tagcloud mt-3">
                                               {% for category in categories %}
                                               <a class="badge tag-cloud fs-12 mt-2"
                                                    href="{% url 'category' category.slug %}">{{category.name}}</a>
                                               {% endfor %}                                                
                                                
                                            </div>
                                        </div><!--end Latest Tags-->

                                        {% comment %} <div class="mt-4 pt-2">
                                            <div class="sd-title">
                                                <h6 class="fs-16 mb-3">Popular Post</h6>
                                            </div>
                                            <ul class="widget-popular-post list-unstyled my-4">
                                                <li class="d-flex mb-3 align-items-center pb-3 border-bottom">
                                                    <img src="assets/images/blog/img-01.jpg" alt="" class="widget-popular-post-img rounded" />
                                                    <div class="flex-grow-1 text-truncate ms-3">
                                                        <a href="blog-details.html" class="text-dark">The evolution of landing page creativity</a>
                                                        <span class="d-block text-muted fs-14">Aug 10, 2021</span>
                                                    </div>
                                                </li>
                                                <li class="d-flex mb-3 align-items-center pb-3 border-bottom">
                                                    <img src="assets/images/blog/img-02.jpg" alt="" class="widget-popular-post-img rounded" />
                                                    <div class="flex-grow-1 text-truncate ms-3"><a href="blog-details.html" class="text-dark">Beautiful day with friends in paris</a>
                                                        <span class="d-block text-muted fs-14">Jun 24, 2021</span>
                                                    </div>
                                                </li>
                                                <li class="d-flex mb-3 align-items-center pb-3 border-bottom">
                                                    <img src="assets/images/blog/img-03.jpg" alt="" class="widget-popular-post-img rounded" />
                                                    <div class="flex-grow-1 text-truncate ms-3"><a href="blog-details.html" class="text-dark">Project discussion with team</a>
                                                        <span class="d-block text-muted fs-14">July 13, 2021</span>
                                                    </div>
                                                </li>
                                                <li class="d-flex mb-3 align-items-center">
                                                    <img src="assets/images/blog/img-10.jpg" alt="" class="widget-popular-post-img rounded" />
                                                    <div class="flex-grow-1 text-truncate ms-3"><a href="blog-details.html" class="text-dark">Smartest Applications for Business</a>
                                                        <span class="d-block text-muted fs-14">Feb 01, 2021</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><!--end Polular Post-->

                                         {% endcomment %}

                                        

                                       

                                        
                                    </div>
                                    <!--end sidebar-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END BLOG-GRID -->
</div>

     {% endblock content %}