{% extends 'base.html' %}
{% block title %} Job {% endblock title %}
{% load humanize %}
{% block content %}
   <div>
        <div class="main-content">

                <div class="page-content">

                          <div class="breadcrumbs overlay  mt-1" >
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">{{caterory_name}}</h1>

</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav float-sm-start float-lg-end float-md-end">
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'jobs' %}">Jobs</a></li>
<li>{{caterory_name}}</li>
</ul>
</div>
</div>
</div>
</div>
                    <!-- START JOB-LIST -->
                    <section class="section">
                        <div class="container">
                            {% comment %} {% include 'includes/search.html' %} {% endcomment %}
                            
                            <div class="row">
                               {% for job in jobs %}
                                <div class="col-lg-6">
                                    
                                    <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                    <div class="row">
                                                        {% comment %} <div class="col-lg-1">
                                                            <a href="company-details.html"><img src="{{job.user.user_profile.profile.url}}" alt="..." class="img-fluid rounded-3"></a>
                                                        </div><!--end col--> {% endcomment %}
                                                        <div class="col-lg-12">
                                                            <div class="mt-3 mt-lg-0">
                                                                <h5 class="fs-17 mb-1"><a href="{{job.get_absolute_url}}" class="text-dark text-decoration-none">{{job.title | truncatewords:10}}</a> </h5>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-user"></i> <a class="text-dark text-decoration-none" href="{% url 'user-jobs' job.user.username %}">{{job.user.user_profile.firstname}} {{job.user.user_profile.lastname}}</a> </p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.county}} ,{{job.location}},{{job.address}}</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-calender"></i> {{job.created |naturaltime}}</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="mt-2"> 
                                                                    
                                                                    <span class="badge bg-soft-success mt-1">Deadline: {{job.deadline}}</span>
                                                                    <span class="badge bg-soft-warning mt-1">open to: {{job.seeker_type}}</span>
                                                                    <span class="badge bg-soft-info mt-1">{{job.job_type}}</span>
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                   
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Tags :</li>{% for tag in job.tags.all %}
                                                                    <li class="list-inline-item"><a href="{% url 'tag-jobs' tag.slug %}" class="primary-link text-muted text-decoration-none">{{ tag.name }}</a>,</li>
                                                                   
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            
                                                            {% if job.user != request.user %}
                                                                <div class="text-md-end">
                                                                <a href="{% url 'applications:apply-job' job.slug %}"  class="primary-link text-decoration-none">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                            </div>
                                                            {% endif %}
                                                                
                                                            
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                    
                                </div><!--end col-->
                               {% empty %} 
                                <div class="col-lg-12">
                                    
                                    
                                    <div class="job-box  card mt-5">
                                                <div class="p-4">
                                                    <p> No jobs found! </p>
                                                </div>
                                                
                                            </div>
                                </div><!--end col-->
                               {% endfor %}
                                <div class="col-lg-6">
                                    
                                    
                                    
                                </div><!--end col-->

                            </div><!--end row-->

                              <!-- End Job-list -->
                                        <div class="row">
                                            <div class="col-lg-12 mt-4 pt-2">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination job-pagination mb-0 justify-content-center">
                                                         {% if page_obj.has_previous %}
                                                        <li class="page-item ">
                                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                            </a>
                                                        </li>
                                                         {% if page_obj.number > 3 %}
    <a class="page-link" href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>.....</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}

                                                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

                                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span> 

                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                                       {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                                         {% endif %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div><!--end col-->
                                        </div><!-- end row -->
                    
                        </div><!--end container-->
                    </section>
                    <!-- END JOB-LIST -->

                    
                </div>
                <!-- End Page-content -->

                

               

                
            </div>
            <!-- end main content-->

    </div>

{% endblock content %}
    