{% extends 'base.html' %}
{% block title %} Job {% endblock title %}

{% block content %}
<div class="container"><div class="row">
    <h2>filtereed jobs </h2>
        <form method="GET" action="{% url 'jobs-filter' %}">
    {{ job_filter.form.as_p }}
    <div class="form-check">
    <input class="form-check-input" type="checkbox" id="latest" name="latest">
    <label class="form-check-label" for="latest">Show Latest Jobs</label>
  </div>
  <label for="id_date_published">Date Published:</label>
  <select name="created" id="id_date_published">
    <option value="">Any</option>
    <option value="hour">Last hour</option>
    <option value="day">Last 24 hours</option>
    <option value="week">Last Week</option>
    <option value="month">Last month</option>
  </select>
    <button type="submit">Filter</button>
  </form>
    <div class="col-6">
        {% for job in jobs %}
        <p>created :{{job.created}}</p>
<p>user:  <a href="{% url 'user-jobs' job.user.username %}">{{job.user}}</a> </p>
<p>{{job.reference_id}}</p>
<p>{{job.county}}</p>
<p>{{job.location}}</p>
<p>{{job.address}}</p>
<p>title:   <a href="{{job.get_absolute_url}}">{{job.title}}</a> </p>
<p>category  <a href="{% url 'category-jobs' job.category.slug %}">{{job.category}}</a> </p>
<p>tags:  {% for tag in job.tags.all %}
            <li><a 
                href="{% url 'tag-jobs' tag.slug %}">{{ tag.name }}</a></li>
          {% endfor %}</p>
<p>description:{{job.content}}</p>
<p>deadline:{{job.deadline}}</p>

{% comment %} <p></p> {% endcomment %}
<hr>
<br>
{% endfor %}
    </div> 
   
   
{% endblock content %}
    