{% extends 'base.html' %}
{% block title %} Job {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content">

                <div class="page-content">

                   
                    <!-- START JOB-LIST -->
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="me-lg-5">
                                        <div class="job-list-header">
                                              <div class="results h5 pt-4 pb-2 mb-4 text-text-muted border-bottom border-info">
                                <p>  <span class="badge bg-secondary">{{total_results}}</span>  Filtered Job Results  </p>
                                
                                
                                    
                                    
                                    
                            </div>
                                        </div><!--end job-list-header-->

                                     

                                        <!-- Job-list -->
                                        <div>
                                            {% for job in jobs %}
                                            <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                    <div class="row">
                                                       
                                                        <div class="col-lg-12">
                                                            <div class="mt-3 mt-lg-0">
                                                                <h5 class="fs-17 mb-1"><a href="{{job.get_absolute_url}}" class="text-dark">{{job.title}}</a> <small class="text-muted fw-normal">({{job.positions}} slot{{job.positions|pluralize }})</small></h5>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-user"></i> <a class="text-decoration-none" href="{% url 'user-jobs' job.user.username %}">{{job.user.user_profile.firstname}} {{job.user.user_profile.lastname}}</a> </p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.county}} ,{{job.location}},{{job.address}}</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-calender"></i> {{job.created}}</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="mt-2"> 
                                                                    
                                                                    <span class="badge bg-soft-success mt-1">Deadline: {{job.deadline}}</span>
                                                                    <span class="badge bg-soft-warning mt-1">open to: {{job.seeker_type}}</span>
                                                                    <span class="badge bg-soft-info mt-1">{{job.job_type}}</span>
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                    
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Tags :</li>{% for tag in job.tags.all %}
                                                                    <li class="list-inline-item"><a href="{% url 'tag-jobs' tag.slug %}" class="primary-link text-muted">{{ tag.name }}</a>,</li>
                                                                   
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            
                                                            {% if job.user != request.user %}
                                                                <div class="text-md-end">
                                                                <a href="{% url 'applications:apply-job' job.slug %}"  class="primary-link">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                            </div>
                                                            {% endif %}
                                                                
                                                            
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                            <!--end job-box-->
                    {% endfor %}
                                           
                                        </div>
                                        <!-- End Job-list -->
                                          <!-- End Job-list -->
                                        <div class="row">
                                            <div class="col-lg-12 mt-4 pt-2">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination job-pagination mb-0 justify-content-center">
                                                         {% if jobs.has_previous %}
                                                        <li class="page-item ">
                                                            <a class="page-link" href="?page={{ jobs.previous_page_number }}" tabindex="-1">
                                                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                            </a>
                                                        </li>
                                                         {% if jobs.number > 3 %}
    <a class="page-link" href="?page=1">1</a>
    {% if jobs.number > 4 %}
      <span>.....</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in jobs.paginator.page_range %}
  {% if jobs.number == num %}

                                                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% elif num > jobs.number|add:'-3' and num < jobs.number|add:'3' %}

                                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% endif %}
{% endfor %}

{% if jobs.has_next %}
  {% if jobs.number < jobs.paginator.num_pages|add:'-3' %}
    <span>...</span> 

                                                        <li class="page-item"><a class="page-link" href="?page={{ jobs.paginator.num_pages }}">{{ jobs.paginator.num_pages }}</a></li>
                                                       {% elif jobs.number < jobs.paginator.num_pages|add:'-2' %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ jobs.paginator.num_pages }}">{{ jobs.paginator.num_pages }}</a></li>
                                                         {% endif %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page={{ jobs.next_page_number }}">
                                                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div><!--end col-->
                                        </div><!-- end row -->
                                    </div>
                                </div><!--end col-->
                                
                                <!-- START SIDE-BAR -->
                                <div class="col-lg-3">
                                    <div class="side-bar mt-5 mt-lg-0">
                                        <div class="accordion" id="accordionExample">
                                           
                                            <div class="accordion-item mt-3">
                                                <h2 class="accordion-header" id="tagCloud">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tagcloud" aria-expanded="false" aria-controls="tagcloud">
                                                        Tags Cloud
                                                    </button>
                                                </h2>
                                                <div id="tagcloud" class="accordion-collapse collapse show" aria-labelledby="tagCloud">
                                                    <div class="accordion-body">
                                                        <div class="side-title">
                                                            {% for tag in tags %}
                                                            
                                                            <a href="{% url 'tag-jobs' tag.slug %}" class="badge tag-cloud fs-13 mt-2">{{tag.name}}</a>
                                                            {% empty %}
                                                            no tags
                                                            {% endfor %}
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                            <div class="accordion-item mt-3">
                                                <h2 class="accordion-header" id="tagCloud">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tagcloud" aria-expanded="false" aria-controls="tagcloud">
                                                        Categories Cloud
                                                    </button>
                                                </h2>
                                                <div id="tagcloud" class="accordion-collapse collapse show" aria-labelledby="tagCloud">
                                                    <div class="accordion-body">
                                                        <div class="side-title">
                                                            {% for category in categories %}
                                                            
                                                            <a href="{% url 'category-jobs' category.slug %}" class="badge tag-cloud fs-13 mt-2">{{category.name}}</a>
                                                            {% endfor %}
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                    
                                        </div><!--end accordion-->
                                      
  <hr>
  <br>
                                         
                                        
                                    </div><!--end side-bar-->
                                </div><!--end col-->
                                <!-- END SIDE-BAR -->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END JOB-LIST -->

                   
                </div>
                <!-- End Page-content -->

               

                <!--start back-to-top-->
                <button onclick="topFunction()" id="back-to-top">
                    <i class="mdi mdi-arrow-up"></i>
                </button>
                <!--end back-to-top-->
            </div>

       
<script>
    var checkAll = document.getElementById("checkAll");
checkAll && (checkAll.onclick = function() {
    for (var c = document.querySelectorAll('.form-check-all input[type="checkbox"]'), e = 0; e < c.length; e++) c[e].checked = this.checked
});

var singleCategories, singleLocation = new Choices("#choices-single-location"),
    singleCategorie = document.getElementById("choices-single-categories");
singleCategorie && (singleCategories = new Choices("#choices-single-categories"));
</script>

   
   
{% endblock content %}
    