{% extends 'base.html' %}
{% block title %} Job Details {% endblock title %}

{% block content %}
    
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% comment %} <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> {% endcomment %}
    <script>
        var m = "{{message}}"
        swal("Good job!", m, "success");
    </script>
    {% endfor %}
</ul>
{% endif %}

job details  
<P>job_id: {{job.id}}</P>
<p>user:{{job.user}}</p>
<p>reference id :{{job.reference_id}}</p>
<p>title:{{job.title}}</p>
<p>category{{job.category}}</p>
<p>tags: </p>
<p>description:{{job.content}}</p>
<p>deadline:{{job.deadline}}</p>
<p>End time :{{job.job_end_time}}</p>
<p>skills: {{job.skills}}</p>
<p>job_type : {{job.job_type}}</p>
<p>seeker_type : {{job.seeker_type}}</p>
<p>positions :{{job.positions }}</p>
<p>county : {{job.county}}</p>
<p>location :{{job.location}}</p>
<p>address :{{job.address}}</p>
<p>created : {{job.created}}</p>

<a href="{% url 'applications:apply-job' job.slug %}" class="btn btn-info">Apply</a>
<a href="{% url 'delete-job' job.slug %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update-job' job.slug %}" class="btn btn-primary">Edit</a>
<a href="{% url 'delete-job' job.slug %}" class="btn btn-secondary">Save this job</a>
<a href="{% url 'job-applications' job.slug %}" class="btn btn-secondary">All applucations({{job.job_application.count}})</a>

{% if job.savedJob %}
  <a href="{% url 'save-job' job.slug %}" class="btn btn-secondary" >Bookmarked <i class="lni lni-bookmark"></i></a>
  {% else %}
  <a href="{% url 'save-job' job.slug %}" class="btn btn-outline-secondary" >Bookmark <i class="lni lni-bookmark"></i></a>
  {% endif %}
<br><br><br><br><br>

{% endblock content %}
    