{% extends 'base.html' %}
{% block title %} Job {% endblock title %}

{% block content %}
 <div class="main-content">

                <div class="page-content">

                    {% comment %} <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">Job List</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Job List </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="#FFFFFF" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE --> {% endcomment %}


                    <!-- START JOB-LIST -->
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="me-lg-5">
                                        <div class="job-list-header">
                                            <form action="#">
                                                <div class="row g-2">
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="filler-job-form">
                                                            <i class="uil uil-briefcase-alt"></i>
                                                            <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" placeholder="Job, company... ">
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="filler-job-form">
                                                            <i class="uil uil-location-point"></i>
                                                            <select class="form-select" data-trigger name="choices-single-location" id="choices-single-location" aria-label="Default select example">
                                                                <option value="AF">Afghanistan</option>
                                                                <option value="AX">&Aring;land Islands</option>
                                                                <option value="AL">Albania</option>
                                                               
                                                                <option value="ZM">Zambia</option>
                                                                <option value="ZW">Zimbabwe</option>
                                                            </select>
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="filler-job-form">
                                                            <i class="uil uil-clipboard-notes"></i>
                                                            <select class="form-select " data-trigger name="choices-single-categories" id="choices-single-categories" aria-label="Default select example">
                                                                <option value="4">Accounting</option>
                                                                <option value="1">IT & Software</option>
                                                                <option value="3">Marketing</option>
                                                                <option value="5">Banking</option>
                                                            </select>
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-lg-3 col-md-6">
                                                        <a href="javascript:void(0)" class="btn btn-primary w-100"><i class="uil uil-filter"></i> Fliter</a>
                                                    </div><!--end col-->
                                                </div><!--end row-->
                                            </form>
                                        </div><!--end job-list-header-->

                                        <div class="wedget-popular-title mt-4">
                                            <h6>Popular</h6>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <div class="popular-box d-flex align-items-center">
                                                        <div class="number flex-shrink-0 me-2">
                                                            20  
                                                        </div>
                                                        <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">UI/UX designer</h6></a>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="popular-box d-flex align-items-center">
                                                        <div class="number flex-shrink-0 me-2">
                                                            18  
                                                        </div>
                                                        <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">HR manager</h6></a>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="popular-box d-flex align-items-center">
                                                        <div class="number flex-shrink-0 me-2">
                                                            10  
                                                        </div>
                                                        <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">Product manager</h6></a>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="popular-box d-flex align-items-center">
                                                        <div class="number flex-shrink-0 me-2">
                                                            15  
                                                        </div>
                                                        <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">Sales manager</h6></a>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="popular-box d-flex align-items-center">
                                                        <div class="number flex-shrink-0 me-2">
                                                            28  
                                                        </div>
                                                        <a href="javascript:void(0)" class="primary-link stretched-link"><h6 class="fs-14 mb-0">Developer</h6></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><!--end wedget-popular-title-->


                                        <!-- Job-list -->
                                        <div>
                                            {% for job in object_list %}
                                            <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                    <div class="row">
                                                        <div class="col-lg-1">
                                                            <a href="company-details.html"><img src="{{job.user.user_profile.profile.url}}" alt="..." class="img-fluid rounded-3"></a>
                                                        </div><!--end col-->
                                                        <div class="col-lg-10">
                                                            <div class="mt-3 mt-lg-0">
                                                                <h5 class="fs-17 mb-1"><a href="{{job.get_absolute_url}}" class="text-dark">{{job.title}}</a> <small class="text-muted fw-normal">({{job.positions}} slot{{job.positions|pluralize }})</small></h5>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><a href="{% url 'user-jobs' job.user.username %}">{{job.user.user_profile.firstname}} {{job.user.user_profile.lastname}}</a> </p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.county}} ,{{job.location}},{{job.address}}</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> {{job.created}}</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="mt-2"> 
                                                                    
                                                                    <span class="badge bg-soft-success mt-1">Deadline: {{job.deadline}}</span>
                                                                    <span class="badge bg-soft-warning mt-1">open to: {{job.seeker_type}}</span>
                                                                    <span class="badge bg-soft-info mt-1">{{job.job_type}}</span>
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                    <div class="favorite-icon">
                                                        <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                                                    </div>
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Keywords :</li>{% for tag in job.tags.all %}
                                                                    <li class="list-inline-item"><a href="{% url 'tag-jobs' tag.slug %}" class="primary-link text-muted">{{ tag.name }}</a>,</li>
                                                                   
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            
                                                            {% if job.user != request.user %}
                                                                <div class="text-md-end">
                                                                <a href="{% url 'applications:apply-job' job.slug %}"  class="primary-link">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                            </div>
                                                            {% endif %}
                                                                
                                                            
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                            <!--end job-box-->
                    {% endfor %}
                                            {% comment %} <div class="job-box card mt-4">
                                                <div class="p-4">
                                                    <div class="row">
                                                        <div class="col-lg-1">
                                                            <a href="company-details.html"><img src="assets/images/featured-job/img-02.png" alt="" class="img-fluid rounded-3"></a>
                                                        </div><!--end col-->
                                                        <div class="col-lg-10">
                                                            <div class="mt-3 mt-lg-0">
                                                                <h5 class="fs-17 mb-1"><a href="job-details.html" class="text-dark">Marketing Director</a> <small class="text-muted fw-normal">(2-4 Yrs Exp.)</small></h5>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0">Creative Agency</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> New York</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-wallet"></i> $250 - $800 / month</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="mt-2">
                                                                    <span class="badge bg-soft-danger mt-1">Part Time</span>
                                                                    <span class="badge bg-soft-info mt-1">Private</span>
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                    <div class="favorite-icon">
                                                        <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                                                    </div>
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Keywords :</li>
                                                                    <li class="list-inline-item"><a href="javascript:void(0)" class="primary-link text-muted">Marketing</a>,</li>
                                                                    <li class="list-inline-item"><a href="javascript:void(0)" class="primary-link text-muted">business</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            <div class="text-md-end">
                                                                <a href="#applyNow" data-bs-toggle="modal" class="primary-link">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div> {% endcomment %}
                                            <!--end job-box-->
                    
                                           
                    
                                        </div>
                                        <!-- End Job-list -->
                                        <div class="row">
                                            <div class="col-lg-12 mt-4 pt-2">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination job-pagination mb-0 justify-content-center">
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                            </a>
                                                        </li>
                                                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="javascript:void(0)">
                                                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div><!--end col-->
                                        </div><!-- end row -->
                                    </div>
                                </div><!--end col-->
                                
                                <!-- START SIDE-BAR -->
                                <div class="col-lg-3">
                                    <div class="side-bar mt-5 mt-lg-0">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="locationOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#location" aria-expanded="true" aria-controls="location">
                                                    Location
                                                </button>
                                                </h2>
                                                <div id="location" class="accordion-collapse collapse show" aria-labelledby="locationOne">
                                                    <div class="accordion-body">
                                                        <div class="side-title">
                                                            <div class="mb-3">
                                                                <form class="position-relative">
                                                                    <input class="form-control" type="search" placeholder="Search...">
                                                                    <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y me-2" type="submit"><span class="mdi mdi-magnify text-muted"></span></button>
                                                                </form>
                                                            </div>
                                                            <div class="area-range">
                                                                <div class="form-label mb-3">Area Range: <span class="example-val mt-2" id="slider1-span">0</span> miles</div>
                                                                <div id="slider1"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                    
                                            <div class="accordion-item mt-4">   
                                            <h2 class="accordion-header" id="experienceOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#experience" aria-expanded="true" aria-controls="experience">
                                                    Work experience
                                                </button>
                                            </h2>
                                            <div id="experience" class="accordion-collapse collapse show" aria-labelledby="experienceOne">
                                                <div class="accordion-body">
                                                    <div class="side-title">
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" />
                                                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked1">No experience</label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked />
                                                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked2">0-3 years</label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" />
                                                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked3">3-6 years</label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" />
                                                            <label class="form-check-label ms-2 text-muted" for="flexCheckChecked4">More than 6 years</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div><!-- end accordion-item -->
                                    
                                            <div class="accordion-item mt-3">
                                                <h2 class="accordion-header" id="jobType">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jobtype" aria-expanded="false" aria-controls="jobtype">
                                                        Type of employment
                                                    </button>
                                                </h2>
                                                <div id="jobtype" class="accordion-collapse collapse show" aria-labelledby="jobType">
                                                    <div class="accordion-body">
                                                        <div class="side-title">
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                                                <label class="form-check-label ms-2 text-muted" for="flexRadioDefault6">
                                                                    Freelance
                                                                </label>
                                                            </div>
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                                <label class="form-check-label ms-2 text-muted" for="flexRadioDefault2">
                                                                    Full Time
                                                                </label>
                                                            </div>
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                                                <label class="form-check-label ms-2 text-muted" for="flexRadioDefault3">
                                                                    Internship
                                                                </label>
                                                            </div>
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                                                <label class="form-check-label ms-2 text-muted" for="flexRadioDefault4">
                                                                    Part Time
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                    
                                            <div class="accordion-item mt-3">
                                                <h2 class="accordion-header" id="datePosted">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dateposted" aria-expanded="false" aria-controls="dateposted">
                                                        Date Posted
                                                    </button>
                                                </h2>
                                                <div id="dateposted" class="accordion-collapse collapse show" aria-labelledby="datePosted">
                                                    <div class="accordion-body">
                                                        <div class="side-title form-check-all">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="checkAll" value="" />
                                                                <label class="form-check-label ms-2 text-muted" for="checkAll">
                                                                    All
                                                                </label>
                                                            </div>
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="checkbox"  name="datePosted"  value="last" id="flexCheckChecked5" checked />
                                                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked5">
                                                                    Last Hour
                                                                </label>
                                                            </div>
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="checkbox" name="datePosted" value="last" id="flexCheckChecked6" />
                                                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked6">
                                                                    Last 24 hours
                                                                </label>
                                                            </div>
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="checkbox" name="datePosted" value="last" id="flexCheckChecked7" />
                                                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked7">
                                                                    Last 7 days
                                                                </label>
                                                            </div>
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="checkbox" name="datePosted" value="last" id="flexCheckChecked8" />
                                                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked8">
                                                                    Last 14 days
                                                                </label>
                                                            </div>
                                                            <div class="form-check mt-2">
                                                                <input class="form-check-input" type="checkbox" name="datePosted" value="last" id="flexCheckChecked9" />
                                                                <label class="form-check-label ms-2 text-muted" for="flexCheckChecked9">
                                                                    Last 30 days
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                    
                                            <div class="accordion-item mt-3">
                                                <h2 class="accordion-header" id="tagCloud">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tagcloud" aria-expanded="false" aria-controls="tagcloud">
                                                        Tags Cloud
                                                    </button>
                                                </h2>
                                                <div id="tagcloud" class="accordion-collapse collapse show" aria-labelledby="tagCloud">
                                                    <div class="accordion-body">
                                                        <div class="side-title">
                                                            <a href="javascript:void(0)" class="badge tag-cloud fs-13 mt-2">design</a>
                                                            <a href="javascript:void(0)" class="badge tag-cloud fs-13 mt-2">marketing</a>
                                                            <a href="javascript:void(0)" class="badge tag-cloud fs-13 mt-2">business</a>
                                                            <a href="javascript:void(0)" class="badge tag-cloud fs-13 mt-2">developer</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                    
                                        </div><!--end accordion-->
                                         <form method="GET" action="{% url 'jobs-filter' %}">

                                            
    {{ filter.form.as_p|safe }}
    <div class="form-check">
    <input class="form-check-input" type="checkbox" id="latest" name="latest">
    <label class="form-check-label" for="latest">Show Latest Jobs</label>
     
  </div>
  {% comment %} <label for="id_date_published">Date Published:</label>
  <select name="created" id="id_date_published">
    <option value="">Any</option>
    <option value="hour">Last hour</option>
    <option value="day">Last 24 hours</option>
    <option value="week">Last Week</option>
    <option value="month">Last month</option>
  </select> {% endcomment %}
  <div class="form-group">
    <label for="id_date_published">Date Published:</label>
    <div class="checkbox-list">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" id="hour" name="created" value="hour">
        <label class="form-check-label" for="hour">Last hour</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="hour" name="created" value="hour">
        <label class="form-check-label" for="hour">Last hour</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="day" name="created" value="day">
        <label class="form-check-label" for="day">Last 24 hours</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="week" name="created" value="week">
        <label class="form-check-label" for="week">Last week</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="month" name="created" value="month">
        <label class="form-check-label" for="month">Last month</label>
      </div>
    </div>
  </div>
  
    <button type="submit">Filter</button>
  </form>
                                        
                                    </div><!--end side-bar-->
                                </div><!--end col-->
                                <!-- END SIDE-BAR -->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END JOB-LIST -->

                   
                </div>
                <!-- End Page-content -->

               

                <!--start back-to-top-->
                <button onclick="topFunction()" id="back-to-top">
                    <i class="mdi mdi-arrow-up"></i>
                </button>
                <!--end back-to-top-->
            </div>

        {% comment %} {% for job in object_list %}
<p>user:  <a href="{% url 'user-jobs' job.user.username %}">{{job.user}}</a> </p>
<p>{{job.reference_id}}</p>
 <p>{{job.county}}</p>
<p>{{job.location}}</p>
<p>{{job.address}}</p> 
 <p>title:   <a href="{{job.get_absolute_url}}">{{job.title}}</a> </p> 
<p>category  <a href="{% url 'category-jobs' job.category.slug %}">{{job.category}}</a> </p>
 <p>tags:  {% for tag in job.tags.all %}
            <li><a 
                href="{% url 'tag-jobs' tag.slug %}">{{ tag.name }}</a></li>
          {% endfor %}</p> 
<p>description:{{job.content}}</p>
<p>deadline:{{job.deadline}}</p>


<hr>
<br>
{% endfor %} {% endcomment %}
    
<script>
    var checkAll = document.getElementById("checkAll");
checkAll && (checkAll.onclick = function() {
    for (var c = document.querySelectorAll('.form-check-all input[type="checkbox"]'), e = 0; e < c.length; e++) c[e].checked = this.checked
});

var singleCategories, singleLocation = new Choices("#choices-single-location"),
    singleCategorie = document.getElementById("choices-single-categories");
singleCategorie && (singleCategories = new Choices("#choices-single-categories"));
</script>
{% endblock content %}
    