{% extends 'base.html' %}
{% block title %} Jobs {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="main-content">

                <div class="page-content">

                   <div class="breadcrumbs overlay  mt-1" >
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class="breadcrumbs-content">
<h1 class="page-title">Jobs</h1>

</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class="breadcrumb-nav float-sm-start float-lg-end float-md-end">
<li><a href="{% url 'home' %}">Home</a></li>
<li>Jobs</li>
</ul>
</div>
</div>
</div>
</div>
                    <!-- START JOB-LIST -->
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="me-lg-5">
                                        <div class="job-list-header">
                                            <form method="GET" action="{% url 'search' %}">
                                                <div class="row g-2">
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="filler-job-form">
                                                            <i class="uil uil-briefcase-alt"></i>
                                                            <input type="search" name ="title" class="form-control filter-job-input-box" id="exampleFormControlInput1" placeholder="Job, ... ">
                                                        </div>
                                                    </div><!--end col-->
                                                     <div class="col-lg-3 col-md-6">
                                                        <div class="filler-job-form">
                                                            <i class="uil uil-location-point"></i>
                                                            <input type="search" name="location" class="form-control filter-job-input-box" id="exampleFormControlInput1" placeholder="Mandera, pangani ">
                                                        </div>
                                                    </div><!--end col-->
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="filler-job-form">
                                                            <i class="uil uil-clipboard-notes"></i>
                                                            <select class="form-select" data-trigger name="tag" id="choices-single-location" aria-label="Default select example">
                                                                <option value="0">All Tags</option>
                                                                {% for tag in tags %}
                                                                 <option value="{{tag.pk}}">{{tag.name}}</option>
                                                                {% endfor %}
                                                               
                                                                
                                                            </select>
                                                        </div>
                                                    </div><!--end col-->
                                                     {% comment %} class="btn btn-primary w-100"><i class="uil uil-search"></i> Find Jobs {% endcomment %}
                                                    <div class="col-lg-3 col-md-6">
                                                        <button class="btn btn-primary w-100 h-100 " type="submit"><i class="uil uil-search me-1"></i> Find Job</button>
                                                    </div><!--end col-->
                                                </div><!--end row-->
                                            </form>
                                        </div><!--end job-list-header-->

                                        <div class="wedget-popular-title mt-4">
                                            <h6>Popular</h6>
                                            <ul class="list-inline">
                                                {% for popular_tag in popular_tags %} 
                                                 <li class="list-inline-item">
                                                    <div class="popular-box d-flex align-items-center">
                                                        <div class="number flex-shrink-0 me-2">
                                                          {{popular_tag.num_jobs}}  
                                                        </div>
                                                        <a href="{% url 'tag-jobs' popular_tag.slug %}" class="primary-link stretched-link"><h6 class="fs-14 mb-0">{{popular_tag.name}}</h6></a>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                               
                                                
                                               
                                            </ul>
                                        </div><!--end wedget-popular-title-->


                                        <!-- Job-list -->
                                        <div>
                                            {% for job in object_list %}
                                            <div class="job-box  card mt-5">
                                                <div class="p-4">
                                                    <div class="row">
                                                        {% comment %} <div class="col-lg-1">
                                                            <a href="company-details.html"><img src="{{job.user.user_profile.profile.url}}" alt="..." class="img-fluid rounded-3"></a>
                                                        </div><!--end col--> {% endcomment %}
                                                        <div class="col-lg-12">
                                                            <div class="mt-3 mt-lg-0">
                                                                <h5 class="fs-17 mb-1"><a href="{{job.get_absolute_url}}" class="text-dark">{{job.title}}</a> </h5>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-user"></i> <a href="{% url 'user-jobs' job.user.username %}">{{job.user.user_profile.firstname}} {{job.user.user_profile.lastname}}</a> </p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{job.county}} ,{{job.location}},{{job.address}}</p>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <p class="text-muted fs-14 mb-0"><i class="uil uil-calender"></i> {{job.created}}</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="mt-2"> 
                                                                    
                                                                    <span class="badge bg-soft-success mt-1">Deadline: {{job.deadline}}</span>
                                                                    <span class="badge bg-soft-warning mt-1">open to: {{job.seeker_type}}</span>
                                                                    <span class="badge bg-soft-info mt-1">{{job.job_type}}</span>
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                    
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row justify-content-between">
                                                        <div class="col-md-8">
                                                            <div>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item"><i class="uil uil-tag"></i> Tags :</li>{% for tag in job.tags.all %}
                                                                    <li class="list-inline-item"><a href="{% url 'tag-jobs' tag.slug %}" class="primary-link text-muted">{{ tag.name }}</a>,</li>
                                                                   
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-3">
                                                            
                                                            {% if job.user != request.user %}
                                                                <div class="text-md-end">
                                                                    {% if user.user_profile.firstname == "" and user.user_profile.lastname == "" %}
                                                                   
<a tabindex="0" class="btn btn-sm btn-outline-info" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Profile Not Found !" data-bs-content="Please update your profile first.">Apply Now</a>

                                                                    {% else %}
 <a href="{% url 'applications:apply-job' job.slug %}"  class="primary-link">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                                    {% endif %}
                                                               
                                                            </div>
                                                            {% endif %}
                                                                
                                                            
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                            <!--end job-box-->
                                            {% empty %}
                                            <div class="col-lg-12 text-center">
                                    
                                    <div class="job-box bookmark-post card mt-5">
                                                <div class="p-4">
                                                   
                                                   <p> No Jobs Posted !</p>
                                                </div>
                                                
                                            </div>
                                    
                                </div><!--end col-->
                    {% endfor %}
                                         
                                           
                    
                                        </div>







<!-- =======================
pagination start-->
{% comment %} <div class="pagination center">
<ul class="pagination-list">
     {% if page_obj.has_previous %}

<li><a href="?page={{ page_obj.previous_page_number }}"><i class="lni lni-chevron-left"></i></a></li>

 {% if page_obj.number > 3 %}
    <a href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}

<li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

<li><a href="?page={{ num }}">{{ num }}</a></li>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}

<li><a href="?page={{ page_obj.next_page_number }}"><i class="lni lni-chevron-right"></i></a></li>
{% endif %}
</ul>
</div> {% endcomment %}
<!-- =======================
pagination end -->






                                        <!-- End Job-list -->
                                        <div class="row">
                                            <div class="col-lg-12 mt-4 pt-2">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination job-pagination mb-0 justify-content-center">
                                                         {% if page_obj.has_previous %}
                                                        <li class="page-item ">
                                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                                                            </a>
                                                        </li>
                                                         {% if page_obj.number > 3 %}
    <a class="page-link" href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>.....</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}

                                                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

                                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span> 

                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                                       {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                                         {% endif %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div><!--end col-->
                                        </div><!-- end row -->
                                    </div>
                                </div><!--end col-->
                                
                                <!-- START SIDE-BAR -->
                                <div class="col-lg-3">
                                    <div class="side-bar mt-5 mt-lg-0">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="locationOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#location" aria-expanded="true" aria-controls="location">
                                                  Filters
                                                </button>
                                                </h2>
                                                <div id="location" class="accordion-collapse collapse show" aria-labelledby="locationOne">
                                                    <div class="accordion-body">
                                                        <div class="side-title">
                                                            <div class="mb-3">
                                                                <form method="GET"class="job-filters" action="{% url 'jobs-filter' %}">

                                            
    {{ filter.form | crispy  }}
     
  <div class="form-group">
    <label for="id_date_published">Date Published:</label>
    <div class="side-title">
    <div class="checkbox-list">
        <div class="form-check form-check-all mt-2">
        <input class="form-check-input" type="checkbox" id="hour" name="created" value="hour">
        <label class="form-check-label ms-2 text-muted" for="hour">Last hour</label>
      </div>
     
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="day" name="created" value="day">
        <label class="form-check-label ms-2 text-muted" for="day">Last 24 hours</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="week" name="created" value="week">
        <label class="form-check-label ms-2 text-muted" for="week">Last week</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="month" name="created" value="month">
        <label class="form-check-label ms-2 text-muted" for="month">Last month</label>
      </div>
    </div>
</div>
  </div>
  
     <div class="col-12 pt-3">
     <button class="btn btn-success w-100 h-100 " type="submit"> Filter Jobs</button>
        </div>
  </form>
                 
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                    
                                         
                                            <div class="accordion-item mt-3">
                                                <h2 class="accordion-header" id="tagCloud">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tagcloud" aria-expanded="false" aria-controls="tagcloud">
                                                        Tags 
                                                    </button>
                                                </h2>
                                                <div id="tagcloud" class="accordion-collapse collapse show" aria-labelledby="tagCloud">
                                                    <div class="accordion-body">
                                                        <div class="side-title">
                                                            {% for tag in tags %}
                                                            
                                                            <a href="{% url 'tag-jobs' tag.slug %}" class="badge tag-cloud fs-13 mt-2">{{tag.name}}</a>
                                                            {% endfor %}
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                            <div class="accordion-item mt-3">
                                                <h2 class="accordion-header" id="tagCloud">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tagcloud" aria-expanded="false" aria-controls="tagcloud">
                                                        Categories 
                                                    </button>
                                                </h2>
                                                <div id="tagcloud" class="accordion-collapse collapse show" aria-labelledby="tagCloud">
                                                    <div class="accordion-body">
                                                        <div class="side-title">
                                                            {% for category in categories %}
                                                            
                                                            <a href="{% url 'category-jobs' category.slug %}" class="badge tag-cloud fs-13 mt-2">{{category.name}}</a>
                                                            {% endfor %}
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end accordion-item -->
                                    
                                        </div><!--end accordion-->
                                                                
                                    </div><!--end side-bar-->
                                </div><!--end col-->
                                <!-- END SIDE-BAR -->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END JOB-LIST -->

                   
                </div>
                <!-- End Page-content -->

               

                <!--start back-to-top-->
                <button onclick="topFunction()" id="back-to-top">
                    <i class="mdi mdi-arrow-up"></i>
                </button>
                <!--end back-to-top-->
            </div>

        {% comment %} {% for job in object_list %}
<p>user:  <a href="{% url 'user-jobs' job.user.username %}">{{job.user}}</a> </p>
<p>{{job.reference_id}}</p>
 <p>{{job.county}}</p>
<p>{{job.location}}</p>
<p>{{job.address}}</p> 
 <p>title:   <a href="{{job.get_absolute_url}}">{{job.title}}</a> </p> 
<p>category  <a href="{% url 'category-jobs' job.category.slug %}">{{job.category}}</a> </p>
 <p>tags:  {% for tag in job.tags.all %}
            <li><a 
                href="{% url 'tag-jobs' tag.slug %}">{{ tag.name }}</a></li>
          {% endfor %}</p> 
<p>description:{{job.content}}</p>
<p>deadline:{{job.deadline}}</p>


<hr>
<br>
{% endfor %} {% endcomment %}
    
<script>
    var checkAll = document.getElementById("checkAll");
checkAll && (checkAll.onclick = function() {
    for (var c = document.querySelectorAll('.form-check-all input[type="checkbox"]'), e = 0; e < c.length; e++) c[e].checked = this.checked
});

var singleCategories, singleLocation = new Choices("#choices-single-location"),
    singleCategorie = document.getElementById("choices-single-categories");
singleCategorie && (singleCategories = new Choices("#choices-single-categories"));
</script>
{% endblock content %}
    