{% extends 'base.html' %}
{% block title %} Job {% endblock title %}

{% block content %}
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% comment %} <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> {% endcomment %}
    <script>
        var m = "{{message}}"
        swal("Good job!", m, "success");
    </script>
    {% endfor %}
</ul>
{% endif %}

{% for saved_job in jobs %}

<p> job _id {{saved_job.job.id}}</p>
<p>user:{{saved_job.job.user}}</p>
<p>{{saved_job.job.reference_id}}</p>
<p>title:   <a href="{{saved_job.job.get_absolute_url}}">{{saved_job.job.title}}</a> </p>
<p>category{{saved_job.job.category}}</p>
<p>description:{{saved_job.job.content}}</p>
<p>deadline:{{saved_job.job.deadline}}</p>

{% comment %} <p></p> {% endcomment %}
<hr>
<br>
{% endfor %}
{% endblock content %}
    