{% extends 'base.html' %}
{% block title %} Job Details {% endblock title %}

{% block content %}
    <!-- Begin page -->
        <div>

           

            <div class="main-content">

                <div class="page-content">

                    <!-- Start home -->
                    {% comment %} <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">My Profile</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">My Profile</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> My Profile </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="#FFFFFF" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE --> {% endcomment %}


                    <!-- START PROFILE -->
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card profile-sidebar me-lg-4">
                                        <div class="card-body p-4">
                                            <div class="text-center pb-4 border-bottom">
                                                <img src="{{profile.profile.url}}" alt="...."
                                                    class="avatar-lg img-thumbnail rounded-circle mb-4" />
                                                <h5 class="mb-0">{{profile.firstname}} {{profile.lastname}}</h5>
                                                <p class="text-muted">{{profile.title}}</p>
                                                <ul class="list-inline d-flex justify-content-center align-items-center ">
                                                    <li class="list-inline-item text-warning fs-19">
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star-half-full"></i>
                                                    </li>
                                                </ul>
                                                <ul class="candidate-detail-social-menu list-inline mb-0">
                                                  
                                                  {% if profile.facebook %}
                                                    <li class="list-inline-item">
                                                        
                                                        <a href="{{profile.facebook}}"  target="_blank"  class="social-link rounded-3 btn-soft-primary"><i
                                                                class="uil uil-facebook-f"></i></a>
                                                    </li>
                                                  {% endif %}
                                                    
                                                    
                                                    {% if  profile.twitter %}
                                                         <li class="list-inline-item">
                                                        <a href="{{profile.twitter}}"  target="_blank"  class="social-link rounded-3 btn-soft-info"><i
                                                                class="uil uil-twitter-alt"></i></a>
                                                    </li>
                                                    {% endif %}
                                                        
                                                   
                                                   {% if profile.instagram %}
                                                    <li class="list-inline-item">
                                                        <a href="{{profile.instagram}}"  target="_blank"  class="social-link rounded-3 btn-soft-success"><i
                                                                class="uil uil-instagram"></i></a>
                                                    </li>
                                                   {% endif %}
                                                    
                                                    
                                                   
                                                   {% if profile.website %}
                                                     <li class="list-inline-item">
                                                        <a href="{{profile.website}}"  target="_blank"  class="social-link rounded-3 btn-soft-danger"><i
                                                                class="mdi mdi-web"></i></a>
                                                    </li>
                                                   {% endif %}
                                                    
                                                </ul>
                                            </div>
                                            <!--end profile-->
                                            <div class="mt-4 border-bottom pb-4">
                                                <h5 class="fs-17 fw-bold mb-3">Documents</h5>
                                                <ul class="profile-document list-unstyled mb-0">
                                                    <li>
                                                        <div class="profile-document-list d-flex align-items-center mt-4 ">
                                                            <div class="icon flex-shrink-0">
                                                                <i class="uil uil-file"></i>
                                                            </div>
                                                            <div class="ms-3">
                                                                {% for document in profile.profile_cv.all %}
    <h6 class="fs-16 mb-0"> <a class="text-decoration-none text-muted" target="_blank" href="{{document.cv.url}}">{{document.cv.name}}</a></h6>

    {% endfor %}
                                                                
                                                            </div>
                                                            {% comment %} <div class="ms-auto">
                                                                <a href="assets/images/dark-logo.html" download class="fs-20 text-muted"><i class="uil uil-import"></i></a>
                                                            </div> {% endcomment %}
                                                        </div>
                                                    </li>
                                                    {% comment %} <li>
                                                        <div class="profile-document-list d-flex align-items-center mt-4 ">
                                                            <div class="icon flex-shrink-0">
                                                                <i class="uil uil-file"></i>
                                                            </div>
                                                            <div class="ms-3">
                                                                <h6 class="fs-16 mb-0">Cover-letter.pdf</h6>
                                                                <p class="text-muted mb-0">1.25 MB</p>
                                                            </div>
                                                            <div class="ms-auto">
                                                                <a href="assets/images/dark-logo.html" download="dark-logo" class="fs-20 text-muted"><i class="uil uil-import"></i></a>
                                                            </div>
                                                        </div>
                                                    </li> {% endcomment %}
                                                </ul>
                                            </div>
                                            <!--end document-->
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-bold mb-3">Contacts</h5>
                                                <div class="profile-contact">
                                                    <ul class="list-unstyled mb-0">
                                                        <li>
                                                            <div class="d-flex">
                                                                <label>Email</label>
                                                                <div>
                                                                    <p class="text-muted text-break mb-0">
                                                                        {{profile.user.email}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex">
                                                                <label>Phone Number</label>
                                                                <div>
                                                                    <p class="text-muted mb-0">{{profile.tell}}</p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex">
                                                                <label>Location</label>
                                                                <div>
                                                                    <p class="text-muted mb-0">{{profile.county}}, {{profile.location}}, {{profile.address}} </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-bold mb-3">More Info</h5>
                                                <div class="profile-contact">
                                                    <ul class="list-unstyled mb-0">
                                                        <li>
                                                            <div class="d-flex">
                                                                <label>User Type</label>
                                                                <div>
                                                                    <p class="text-muted text-break mb-0">
                                                                        {{profile.user_type}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex">
                                                                <label>Gender</label>
                                                                <div>
                                                                    <p class="text-muted mb-0">{{profile.gender}}</p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex">
                                                                <label>Date Of Birth</label>
                                                                <div>
                                                                    <p class="text-muted mb-0">{{profile.dob}} </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-bold mb-3">Account Details </h5>
                                                <div class="profile-contact">
                                                    <ul class="list-unstyled mb-0">
                                                        <li>
                                                            <div class="d-flex">
                                                                <label>Jobs Posted</label>
                                                                <div>
                                                                    <p class="text-muted text-break mb-0">
                                                                        <span class="badge rounded-pill text-bg-secondary"> {{jobs}}</span>

                                                                       
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex">
                                                                <label>All Applications</label>
                                                                <div>
                                                                    <p class="text-muted text-break mb-0 mr-3 "> 
                                                                         <span class="badge rounded-pill text-bg-info "> {{applications}}</span>
                                                                       </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex">
                                                                <label class="mr-3 pr-4">Successfull Application</label>
                                                                <div>
                                                                    <p class="text-muted ml-3  mb-0">
                                                                       <span class="badge rounded-pill text-bg-success"> {{successful_applications}}</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                             <div class="mt-4">
                                                <div class="d-grid gap-2 col-8 mx-auto">
   <a href="{% url 'update-profile' profile.slug %}" class="btn btn-outline-primary">Update Profile</a>
 
</div>
        
                                            </div>
                                           
                                    <!--end contact-details-->
                                        </div>
                                        <!--end card-body-->
                                    </div>
                                    <!--end profile-sidebar-->
                                </div>
                                <!--end col-->
                                <div class="col-lg-8">
                                    <div class="card profile-content-page mt-4 mt-lg-0">
                                        <ul class="profile-content-nav nav nav-pills border-bottom mb-4" id="pills-tab"
                                                role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="overview-tab" data-bs-toggle="pill"
                                                        data-bs-target="#overview" type="button" role="tab" aria-controls="overview"
                                                        aria-selected="true">
                                                        Overview
                                                    </button>
                                                </li>
                                               
                                            </ul>
                                            <!--end profile-content-nav-->
                                        <div class="card-body p-4">
                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                                    aria-labelledby="overview-tab">
                                                    <div>
                                                        <h5 class="fs-18 fw-bold">About</h5>
                                                        <p class="text-muted mt-4">
                                                            {{profile.bio}}
                                                        </p>
                                                        
                                                    </div>
                                                    <div class="candidate-education-details mt-4">
                                                        <h6 class="fs-18 fw-bold mb-0">Education</h6>
                                                        <div class="candidate-education-content mt-4 d-flex">
                                                            <div class="circle flex-shrink-0 bg-soft-primary">
                                                                B
                                                            </div>
                                                            <div class="ms-4">
                                                                <h6 class="fs-16 mb-1">
                                                                    BCA - Bachelor of Computer Applications
                                                                </h6>
                                                                <p class="mb-2 text-muted">
                                                                    International University - (2004 - 2010)
                                                                </p>
                                                                <p class="text-muted">
                                                                    There are many variations of passages of available,
                                                                    but the majority alteration in some form. As a
                                                                    highly skilled and successfull product development
                                                                    and design specialist with more than 4 Years of My
                                                                    experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="candidate-education-content mt-3 d-flex">
                                                            <div class="circle flex-shrink-0 bg-soft-primary">
                                                                M
                                                            </div>
                                                            <div class="ms-4">
                                                                <h6 class="fs-16 mb-1">
                                                                    MCA - Master of Computer Application
                                                                </h6>
                                                                <p class="mb-2 text-muted">
                                                                    International University - (2010 - 2012)
                                                                </p>
                                                                <p class="text-muted">
                                                                    There are many variations of passages of available,
                                                                    but the majority alteration in some form. As a
                                                                    highly skilled and successfull product development
                                                                    and design specialist with more than 4 Years of My
                                                                    experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="candidate-education-content mt-3 d-flex">
                                                            <div class="circle flex-shrink-0 bg-soft-primary">
                                                                D
                                                            </div>
                                                            <div class="ms-4">
                                                                <h6 class="fs-16 mb-1">Design Communication Visual</h6>
                                                                <p class="text-muted mb-2">
                                                                    International University - (2012-2015)
                                                                </p>
                                                                <p class="text-muted">
                                                                    There are many variations of passages of available,
                                                                    but the majority alteration in some form. As a
                                                                    highly skilled and successfull product development
                                                                    and design specialist with more than 4 Years of My
                                                                    experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="candidate-education-details mt-4">
                                                        <h6 class="fs-18 fw-bold mb-0">Experiences</h6>
                                                        <div class="candidate-education-content mt-4 d-flex">
                                                            <div class="circle flex-shrink-0 bg-soft-primary"> W </div>
                                                            <div class="ms-4">
                                                                <h6 class="fs-16 mb-1">Web Design & Development Team Leader</h6>
                                                                <p class="mb-2 text-muted">Creative Agency - (2013 - 2016)</p>
                                                                <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience.</p>
                                                            </div>
                                                        </div>
                                                        <div class="candidate-education-content mt-4 d-flex">
                                                            <div class="circle flex-shrink-0 bg-soft-primary"> P </div>
                                                            <div class="ms-4">
                                                                <h6 class="fs-16 mb-1">Project Manager</h6>
                                                                <p class="mb-2 text-muted">Jobvia Technology Pvt.Ltd - (Pressent)</p>
                                                                <p class="text-muted mb-0">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <h5 class="fs-18 fw-bold">Skills</h5>
                                                        
                                                        <span class="badge fs-13 bg-soft-blue mt-2">{{profile.skills}}</span>
                                                    </div>
                                                   
                                                </div>
                                               
                                            </div>
                                            <!--end tab-content-->
                                        </div>
                                        <!--end card-body-->
                                    </div>
                                    <!--end profile-content-page-->
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- END PROFILE -->

                </div>
                <!-- End Page-content -->

                

              
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->  









{% endblock content %}
    